@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body,html {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;}

nav {
    text-align:center;
}

nav a {
    width: calc(100%/5.044);
    display:inline-block;
    border-radius:2px;
    color:white;
    height:8vh;
    font-size:24px;
    text-decoration:none;
    background-color:black;
    line-height:8vh;

}
nav a:hover {
    background-color:gray;
}

li {
    text-align:center;
    margin: 1% 0 1% 0;
}
label {
    margin:0 0 0 0;


}
ol {
    padding:0;
}
h1 {
    text-align:center;
    font-size:36px;
}

input {
    display:block;
    width:25%;
    margin:auto;

}
.add {
    display:block;
    text-align:center;
    margin:3% auto 0 auto;
    background-color:black;
    color:white;
    width:25%;
    padding:1%;
    border-radius:30px;
    font-size:20px;
}
.add:hover {
    background-color:gray;
}
