<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Musique</title>
</head>
<body>
<h1> Saisie d'un cours </h1>
    {% if id == '' %}
<form method="post" action="/Absences/traitementmaj/{{id}}/">
        {% else %}
            <form method="post" action="/Absences/cours_traitement/">
        {% endif %}


        {% csrf_token %}

        {{ form.as_ul }} <!-- permet d'afficher tous les champs sous forme d'une liste
-->
        <input type="submit" value="entrée les données"\>
            </form> </form>
</body>
</html>